@using WWW_APP_PROJECT.ViewModels
@model RegisterViewModel
@{
    ViewData["Title"] = "Sign up";
}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Holtwood+One+SC' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script|Herr+Von+Muellerhoff' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Istok+Web|Roboto+Condensed:700' rel='stylesheet' type='text/css'>
    @*<link rel="stylesheet" type="text/css" href="~/css/Login.css" />*@


</head>
<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    @if (TempData["Error"] != null)
                    {
                        <div class="col-md-12 alert alert-danger">
                            <span><b>Sorry!</b> - @TempData["Error"] </span>
                        </div>
                    }
                    <div class="card-body p-5 text-center">

                        <div class="mb-md-5 mt-md-4 pb-5">

                            <h2 class="fw-bold mb-2 text-uppercase">Register</h2>
                            <p class="text-white-50 mb-5">Please enter your Data!</p>
                            
                     
                            <form asp-action="Index" style="margin-top:-20px">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                <div class="form-group">
                                    <label asp-for="EmailAddress" class="control-label" style="margin-bottom:3px"></label>
                                    <input asp-for="EmailAddress" class="form-control" style="margin-bottom:15px" />
                                    <span asp-validation-for="EmailAddress" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="UserName" class="control-label" style="margin-bottom:3px"></label>
                                    <input asp-for="UserName" class="form-control" style="margin-bottom:15px" />
                                    <span asp-validation-for="UserName" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="Password" class="control-label" style="margin-bottom:3px"></label>
                                    <input asp-for="Password" class="form-control" style="margin-bottom:15px" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                
                                <div class="form-group">
                                    <label asp-for="ConfirmPassword" class="control-label" style="margin-bottom:3px"></label>
                                    <input asp-for="ConfirmPassword" class="form-control" style="margin-bottom:15px" />
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                                <div class="small grey-text" style="margin-top:5px">
                                    <p>Password need to have at least 8 symbols, have uppercase letter, have lowercase letter, have digit and have special symbol.</p>
                                </div>
               
                                <div class="form-group">
                                    <input class="btn btn-outline-success float-right" type="submit" value="Sign up" />
                                    @*<a class="btn btn-outline-secondary" asp-controller="Home" asp-action="Index">Cancel</a>*@
                                </div>
                            </form>
                            @* <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!"></a></p>*@

                            @* <button data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light btn-lg px-5" type="submit">Register</button> *@
                            @*
                            <div class="d-flex justify-content-center text-center mt-4 pt-1">
                                <a href="#!" class="text-white"><i class="fab fa-facebook-f fa-lg"></i></a>
                                <a href="#!" class="text-white"><i class="fab fa-twitter fa-lg mx-4 px-2"></i></a>
                                <a href="#!" class="text-white"><i class="fab fa-google fa-lg"></i></a>
                            </div>
                            *@

                        </div>
                        <div style="margin-top:-50px">
                            <p>You have an account?</p>
                            <a class="btn btn-outline-secondary" asp-controller="Login" asp-action="Index">Login</a>
                        </div>
                       
                    </div>  
                </div>
            </div>
        </div>
    </div>
</section>