@using Microsoft.AspNetCore.Identity

﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title> Dashboard</title>
    <!--MY CSSS-->
    <link rel="stylesheet" href="css/site.css" />
    <!--Fonts-->
    <!--Holtwood One SC-->
    <link href='https://fonts.googleapis.com/css?family=Holtwood+One+SC' rel='stylesheet' type='text/css'>
    <!--Abel-->
    <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
    <!-- Roboto Condensed-->
    <link href='https://fonts.googleapis.com/css?family=Istok+Web|Roboto+Condensed:700' rel='stylesheet' type='text/css'>

    <!--TrophyIcon-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
</head>
<body>
    <div class="grid-container">

        <!--SideBar-->
        <aside id="sidebar">
            <div class="sidebar-title">
                <div class="sidebar-brand">
                    <a class="material-symbols-outlined" asp-area="" asp-controller="Dashboard" asp-action="Index">dashboard</a>  <a class="nav-link text-light" asp-area="" asp-controller="Dashboard" asp-action="Index">Tournament Manager</a>
                </div>
                <span class="material-symbols-outlined" oncklick="closeSidebar()">close</span>
            </div>
            <ul class="sidebar-list">
                <li class="sidebar-list-item">
                    <a class="material-symbols-outlined">rewarded_ads</a>  Twoje Turnieje
                </li>
                <li class="sidebar-list-item">
                    <a class="material-symbols-outlined" asp-area="" asp-controller="Team" asp-action="Index">team_dashboard</a> <a class="nav-link text-light" asp-area="" asp-controller="Team" asp-action="Index">Drużyny</a>
                </li>

                <li class="sidebar-list-item">
                    <a class="material-symbols-outlined" asp-area="" asp-controller="Users" asp-action="Index">group</a> <a class="nav-link text-light" asp-area="" asp-controller="Users" asp-action="Index">Użytkownicy</a>
                </li>

            </ul>
            <ul class="sidebar-list on-bottom-container">
                <!-- Ustawienia Na Dole -->
                <li class="sidebar-list-item">
                    <a class="material-symbols-outlined" asp-area="" asp-controller="Dashboard" asp-action="Settings">settings</a> <a class="nav-link text-light" asp-area="" asp-controller="Dashboard" asp-action="Settings">Ustawienia</a>
                </li>
            </ul>
        </aside>



        <!--End Sidebar-->
        <!--Main-->
        <main class="main-container">
            <div class="main-title">
                <h2>Ustawienia Profilu</h2>
            </div>
            <div class="main-cards">
                <a type="button" class="btn btn-dark" asp-area="" asp-controller="Dashboard" asp-action="EditUserProfile">Edytuj Profil</a>
            </div>




    </div>
    </main>

    <!--End Main-->
    </div>

    <!-- MY JS -->
    <script src="js/site.js"></script>
</body>
</html>
