@using WWW_APP_PROJECT.Data.Enum
@using WWW_APP_PROJECT.ViewModels
 @using Microsoft.AspNetCore.Identity
@model CreateTeamViewModel;
@{
    Layout = "SidebarLayout";
}
            <div class="main-title">
                <h2>Create Team</h2>
            </div>
            <form method="post" asp-action="Create" enctype="multipart/form-data" >
                    <input type="hidden" id="AppUserId" name="AppUserId" asp-for="AppUserId" />
                <div class="form-group form-margin">
                    <label asp-for="Name" >Team name</label>
                    <input asp-for="Name" class="form-control form-bg grey-text" placeholder="Name">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                <div class="form-group form-margin ">
                        <label asp-for="TeamSportDiscipline">Sport discipline</label>
                        <br />
                    <select asp-for="TeamSportDiscipline" class="form-bg grey-text" asp-items="@Html.GetEnumSelectList<TeamSportDiscipline>()">
                            <option>--Select--</option>
                        </select>
                    <span asp-validation-for="TeamSportDiscipline" class="text-danger"></span>
                    </div>
                <div class="form-group form-margin ">
                    <label asp-for="Image" >Image</label>
                    <input asp-for="Image" type="file" class="form-control form-bg grey-text" placeholder="Image">
                        <span asp-validation-for="Image" class="text-danger"></span>
                    </div>
                <div class="form-group center-content">
                    <button type="submit" class="btn btn-dark fixed-width-btn">Stwórz</button>
                </div>
                </form>



