body {
    background-color: black;
    color: white;
    font-family: 'Roboto Condensed' !important;
    margin: 0;
    padding: 0;
    margin-bottom: 20px !important;
}

.navbar {
    color: #000 !important; /* Zmieñ na kolor, który chcesz */
}

html {
    font-size: 14px !important;
}

@media (min-width: 768px) {
    html {
        font-size: 16px !important;
    }
}

html {
    position: relative !important;
    min-height: 100% !important;
}


.white-text {
    color: white;
}

.main-container-outlined {
    vertical-align: middle;
    line-height: 1px;
    font-size: 35px;
}

.grid-container {
    display: grid;
    grid-template-columns: 260px 1fr 1fr 1fr;
    grid-template-rows: 0fr 3fr;
    grid-template-areas:
        "sidebar header header header"
        "sidebar main main main";
    height: 100vh;
}

#sidebar {
    margin-top: 0px;
    grid-area: sidebar;
    height: 100%;
    background-color: #0f1011;
    overflow-y: auto;
    transition: all 0,5s;
    -webkit-transition: all 0.5s;
}

.sidebar-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    margin-bottom: 0px;
}

    .sidebar-title > span {
        display: none;
    }

.sidebar-brand {
    display: flex;
    align-items: center;
    margin-top: 15px;
    font-size: 15px;
    font-weight: 500;
}

.sidebar-list {
    padding: 20px;
    margin-top: 0;
    list-style-type: none;
}

.sidebar-list-item {
    display: flex;
    align-items: center;
    padding: 15px;
    font-size: 18px;
}

    .sidebar-list-item:hover {
        background-color: rgba(255,255,255,0.2);
        cursor: pointer;
    }

.sidebar_responsive {
    display: inline !important;
    position: absolute;
    z-index: 12 !important;
}

.material-symbols-outlined {
    margin-right: 10px;
    font-size: 40px !important; /* Zmieñ na rozmiar, który chcesz */
}

.on-bottom-container {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: space-between;*/
    position: absolute;
    bottom: 0;
}



.main-container {
    grid-area: main;
    overflow-y: auto;
    padding: 20px 20px;
    color: rgba(255,255,255,0.95);
    background-color: #1b1d1e;
}

.main-title {
    display: flex;
    justify-content: space-between;
}

main-cards {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    margin: 20px 0;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 25px;
    border-radius: 5px;
}




.card:first-child {
    background-color: #2962ff;
}

.card:nth-child(2) {
    background-color: #ff6d00;
}



.card-inner{
    display:flex; 
    align-items:center;
    justify-content:space-between;
}
.card-inner > .material-symbols-outlined {
    font-size: 50px;
    margin-right: 10px;
}

/* -----------------Media Queries ----------------------*/
/*Medium <= 992px*/
@media screen and (max-width: 992px){
    .grid-container{ 
        grid-template-columns: 1fr; 
        grid-template-rows : 0.2fr 3fr;
        grid-template-areas: 
            "header"
            "main";
    }
    #sidebar{
        display: none;
    }
    .menu-icon{
        display: inline;
    }
    .sidebar-title > span{
        display: inline;
    }
}


/*Small <= 768px*/
@media screen and (max-width: 768px) {
    .main-cards{ 
    grid-template-rows: 2fr;
    gap : 10px;
    margin-bottom:0px;

    }
}

/*Extra small <= 576px*/

@media screen and (max-width: 576px) {
}

/*-----------------LINKS USING ------------------a*/
a {
    color: white;
    text-decoration: none;
}
    a:hover {
        color: black; 
    }
