@using WWW_APP_PROJECT.Data.Enum
@using WWW_APP_PROJECT.ViewModels
@model CreateTournamentViewModel;

<div style="max-width: 500px;">
<form method="post" asp-action="Create" enctype="multipart/form-data">
    <input type="hidden" id="AppUserId" name="AppUserId" asp-for="AppUserId" />
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control" placeholder="Name">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description">Description</label>
        <input asp-for="Description" class="form-control" placeholder="Description">
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="StartDate">Start Date</label>
        <input asp-for="StartDate" class="form-control" type="date">
        <span asp-validation-for="StartDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EndDate">End Date</label>
        <input asp-for="EndDate" class="form-control" type="date">
        <span asp-validation-for="EndDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TeamSportDiscipline">Sport discipline</label>
        <br />
        <select asp-for="TeamSportDiscipline" asp-items="@Html.GetEnumSelectList<TeamSportDiscipline>()">
            <option>--Select--</option>
        </select>
        <span asp-validation-for="TeamSportDiscipline" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TournamentType">Tournament type</label>
        <br />
        <select asp-for="TournamentType" asp-items="@Html.GetEnumSelectList<TournamentType>()">
            <option>--Select--</option>
        </select>
        <span asp-validation-for="TournamentType" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Image">Image</label>
        <input asp-for="Image" type="file" class="form-control" placeholder="Image">
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Address.Street">Street</label>
        <input asp-for=Address.Street class="form-control" placeholder="Street">
        <span asp-validation-for="Address.Street" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Address.City">City</label>
        <input asp-for=Address.City class="form-control" placeholder="City">
        <span asp-validation-for="Address.City" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Address.State">State</label>
        <input asp-for=Address.State class="form-control" placeholder="State">
        <span asp-validation-for="Address.State" class="text-danger"></span>
    </div>
    <input asp-for="IsPublic" type="checkbox" class="form-check-input" />
    <label class="form-check-label" asp-for="IsPublic">Is Public</label>
    <p>Choose who would contribute in this Tournament.</p>
    <div class="d-inline-flex justify-content-start">
        <div class="form-check mr-3">
            <input asp-for="IsTeamTournament" type="radio" value="true" class="form-check-input" id="teamTournament" name="tournamentType" />
            <label class="form-check-label" for="teamTournament">Team Tournament      
            </label>
        </div>
        <div class="form-check ml-3">
            <input asp-for="IsTeamTournament" type="radio" value="false" class="form-check-input" id="soloTournament" name="tournamentType" />
            <label class="form-check-label" for="soloTournament">Solo Tournament</label>
        </div>
    </div>
        <button type="submit" class="btn btn-primary">Next</button>
</form>
</div>