@using WWW_APP_PROJECT.Data.Enum
@using WWW_APP_PROJECT.ViewModels

@model List<TeamScoreViewModel>
@{
    Layout = "SidebarLayout";
}
<div class="main-title">
    <h2>Tournament Finished</h2>

</div>


<div style="display: flex; justify-content: space-between;  ">



    
    <div style="flex: 1; margin-left: 40px;">
        <h2>Scoreboard</h2>
        <ul class="list-group">

            @foreach (var teamScore in Model)
            {



                <li class="list-group-item d-flex justify-content-between">
                    @teamScore.team.Name @teamScore.teamScore.Score

                </li>
            }


        </ul>
    </div>
</div>