@using WWW_APP_PROJECT.Data.Enum
@using WWW_APP_PROJECT.ViewModels
@model CreateTournamentViewModel;




﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title> Dashboard</title>
    <!--MY CSSS-->
    <link rel="stylesheet" href="css/site.css" />
    <!--Fonts-->
    <!--Holtwood One SC-->
    <link href='https://fonts.googleapis.com/css?family=Holtwood+One+SC' rel='stylesheet' type='text/css'>
    <!--Abel-->
    <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
    <!-- Roboto Condensed-->
    <link href='https://fonts.googleapis.com/css?family=Istok+Web|Roboto+Condensed:700' rel='stylesheet' type='text/css'>

    <!--TrophyIcon-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
</head>
<body>
    <div class="grid-container">

        <!--SideBar-->
        <aside id="sidebar">
            <div class="sidebar-title">
                <div class="sidebar-brand">
                    <a class="material-symbols-outlined" asp-area="" asp-controller="Tournament" asp-action="Index">dashboard</a>  <a class="nav-link text-light" asp-area="" asp-controller="Tournament" asp-action="Index">Tournament Manager</a>
                </div>
                <span class="material-symbols-outlined" oncklick="closeSidebar()">close</span>
            </div>
            <ul class="sidebar-list">
                <li class="sidebar-list-item">
                    <a class="material-symbols-outlined" asp-area="" asp-controller="Tournament" asp-action="Index">rewarded_ads</a>   <a class="nav-link text-light" asp-area="" asp-controller="Tournament" asp-action="Index">Tournaments</a>
                </li>
                <li class="sidebar-list-item">
                    <a class="material-symbols-outlined" asp-area="" asp-controller="Team" asp-action="Index">team_dashboard</a> <a class="nav-link text-light" asp-area="" asp-controller="Team" asp-action="Index">Teams</a>
                </li>

                <li class="sidebar-list-item">
                    <a class="material-symbols-outlined" asp-area="" asp-controller="User" asp-action="Index">group</a> <a class="nav-link text-light" asp-area="" asp-controller="User" asp-action="Index">Users</a>
                </li>

            </ul>
            <ul class="sidebar-list on-bottom-container">
                <!-- Ustawienia Na Dole -->
                <li class="sidebar-list-item">
                    <a class="material-symbols-outlined" asp-area="" asp-controller="Dashboard" asp-action="Settings">settings</a> <a class="nav-link text-light" asp-area="" asp-controller="Dashboard" asp-action="Settings">Settings</a>
                </li>
            </ul>
        </aside>



        <!--End Sidebar-->
        <!--Main-->
        <main class="main-container">
            <div class="main-title">
                <h2>Create Tournament</h2>
            </div>

            <form method="post" asp-action="CreateFin" enctype="multipart/form-data">
                <input type="hidden" id="AppUseNumberOfTeams" name="AppUserId" asp-for="AppUserId" />
                <input type="hidden" id="Name" name="Name" asp-for="Name" />
                <input type="hidden" id="Description" name="Description" asp-for="Description" />
                <input type="hidden" id="StartDate" name="StartDate" asp-for="StartDate" />
                <input type="hidden" id="EndDate" name="EndDate" asp-for="EndDate" />
                <input type="hidden" id="TeamSportDiscipline" name="TeamSportDiscipline" asp-for="TeamSportDiscipline" />
                <input type="hidden" id="TournamentType" name="TournamentType" asp-for="TournamentType" />
                <input type="hidden" id="Street" name="Street" asp-for="Street" />
                <input type="hidden" id="City" name="City" asp-for="City" />
                <input type="hidden" id="State" name="State" asp-for="State" />
                <input type="hidden" id="IsPublic" name="IsPublic" asp-for="IsPublic" />


                <div class="form-group form-margin">
                    <label asp-for="Image">Image</label>
                    <input asp-for="Image" type="file" class="form-control form-bg grey-text" placeholder="Image">
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>
                <div class="form-group form-margin">
                    <label asp-for="NumberOfTeams">Number of teams</label>
                    @if (Model.TournamentType == TournamentType.Knockout)
                    {
                        <select input asp-for="NumberOfTeams" class="form-control form-bg grey-text">
                            <option value="4">4</option>
                            <option value="8">8</option>
                            <option value="16">16</option>
                        </select>
                    }
                    else
                    {
                        <select input asp-for="NumberOfTeams" class="form-control form-bg grey-text">
                            @for (int i = 4; i <= 20; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                    }
                </div>
                <div class="form-group center-content">
                    <button type="submit" class="btn btn-dark fixed-width-btn">Create Tournament</button>
                </div>
            </form>





    </div>
    </main>

    <!--End Main-->
    </div>

    <!-- MY JS -->
    <script src="js/site.js"></script>
</body>
</html>
