@using WWW_APP_PROJECT.ViewModels

@model List<Team>
@{
    Layout = "SidebarLayout";
}
<div class="main-title">
    <h2>Competitors</h2>
</div>

<div style="display: flex; flex-direction: column; align-items: center;">
    
        <h2>Tournament Teams</h2>
    <ul class="list-group" style="width: 60%;">
            @foreach (var team in Model.OrderBy(t => t.Name))
            {
                <li class="list-group-item d-flex justify-content-between">
                    @team.Name
                </li>
            }
        </ul>


        <a class="margin btn btn-dark fixed-width-btn " asp-controller="Tournament" asp-action="GenerateMatches" asp-route-id=@ViewData["TournamentId"]>Generate</a>
        
</div>
