@using WWW_APP_PROJECT.ViewModels

@model List<Team>
@{
    Layout = "SidebarLayout";
}
<div class="main-title">
    <h2>Competitors</h2>
</div>
<div style="display: flex;">
    <div style="margin-right: 100px">
        <h2>Tournament Teams</h2>
        <ul class="list-group">
            @foreach (var team in Model.OrderBy(t => t.Name))
            {



                <li class="list-group-item d-flex justify-content-between">
                    @team.Name
                    
                </li>
            }
        </ul>
    </div>

    
        
    </div>
<h2>Generate Matches</h2><a class="nav-link text-light" asp-controller="Tournament" asp-action="GenerateMatches" asp-route-id=@ViewData["TournamentId"]>Generate</a>
</div>